# Másold ".env" néven ebbe a mappába, és állítsd a saját user profilodra.
# A fájl NEM kerül gitbe.
#
# Példa:
# CLOUDFLARED_CREDENTIALS_FILE=C:/Users/39394/.cloudflared/a4de70c3-84bd-4ab6-a27d-1b2578b15f26.json
CLOUDFLARED_CREDENTIALS_FILE=C:/Users/<USERNAME>/.cloudflared/a4de70c3-84bd-4ab6-a27d-1b2578b15f26.json
